.loginform {
  width: 50%;
  margin: auto;
  margin-top: 6%;
}
.Signup {
  margin: auto;
  width: 50%;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}
li{
  text-transform: underline;
}
.logoutPanel{
    /* display: inline-block; */
    margin: 2%;

}
.dashboard{
  text-align: center
}
.roleheading{
  text-align:center;
}
.rolepagebutton {
  display: flex;
  justify-content:center

}
